html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  background-image: url("../img/funky-lines.png");
}

::selection {
  background: #d92374;
  color: #fff;
}

div.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center; /* center items horizontally, in this case */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: paralucent, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1.2rem;
  font-family: sans-serif;
}

div.container-grid {
  display: grid;
  grid-template-columns: 6fr 7fr;
  grid-template-rows: auto auto auto auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.container-grid > * {
  margin: 5px;
}

summary,
main,
footer,
figure {
  padding-left: 20px;
  padding-right: 20px;
  background: #17152c;
  color: #fff;
}

header {
  grid-column-start: 1;
  grid-column-end: 2;
}

header h1 {
  font-size: 3.2rem;
  margin-bottom: 0px;
}

nav {
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
}

nav ul {
  list-style: none;
  margin: 0;
  display: block;
  padding-left: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

nav ul li {
  display: inline-block;
  background-color: #e2e0ff;
  margin-left: 0;
}

nav ul li.active {
  background-color: #b9b7f7;
}

nav ul li:hover {
  background-color: #d6d4fc;
}

nav ul li.active:hover {
  background-color: #b9b7f7;
}

nav ul li a {
  color: #000;
  display: block;
  font-family: paralucent, sans-serif;

  padding: 7px 14px 7px 14px;
  text-decoration: none;
}

figure {
  grid-column-start: 1;
  grid-column-end: 2;

  background-image: url("../img/echo-on-book.jpg");
  background-size: cover;
  background-position: 70% center;
}

summary {
  grid-column-start: 2;
  grid-column-end: 3;
}

summary a {
  display: inline-block;
  background-color: #b9b7f7;
  padding: 7px 14px 7px 14px;
  margin-right: 4px;
  color: #000;
  text-decoration: none;
  font-family: paralucent, sans-serif;
  font-weight: 400;
}

summary nav {
  text-align: right;
}

summary a:hover {
  background-color: #c42369;
  color: #fff;
}

main {
  grid-column-start: 1;
  grid-column-end: 3;
}

main a {
  color: #0fabd8;
  font-size: 1.1rem;
  font-family: sans-serif;
}

main h2 {
  font-size: 1.8rem;
}

footer {
  grid-column-start: 1;
  grid-column-end: 3;
}

footer p {
  text-align: center;
  font-size: 1rem;
  color: #e4e3ea;
}

@media (min-width: 960px) {
  div.container-grid {
    width: 960px;
  }
}

@media (max-width: 960px) {
  div.container-grid {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;

    width: 80%;
  }

  figure {
    height: 200px;
  }

  header {
    text-align: center;
  }

  nav {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
  }

  nav ul {
    position: static;
  }

  summary {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media (max-width: 725px) {
  div.container-grid {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  div.container-grid {
    width: 1200px;
  }
}
